import { ChangeDetectionStrategy, Component } from '@angular/core';
import { I<%= classify(name) %>Component } from './<%= dasherize(name) %>.component.interface';

@Component({
  selector: '<%= selector %>',
  templateUrl: './<%= dasherize(name) %>.component.html',
  styleUrls: ['./<%= dasherize(name) %>.component.scss'],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%= classify(name) %>Component implements I<%= classify(name) %>Component {

}
